<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tombo</title>
        <script src="/js/htmx.min.js"></script>
        <link rel="stylesheet" href="/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>
            <div>
                <div>
                    <a href="/" style="text-decoration: none; color: inherit">
                        <h1>📚 Tombo</h1>
                    </a>
                    <p>the collaborative prompt library</p>
                </div>
            </div>
            <div>
                <a href="/login">Log in</a>
                <a href="/signup">Sign up</a>
            </div>
        </header>
        <hr />
        {% block content %}
        <p>Placeholder content</p>
        {% endblock %}
    </body>
</html>
