<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tombo Tower</title>
        <link rel="stylesheet" href="https://classless.de/classless.css" />
        {% block head %} {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><strong>📚 Tombo</strong></li>
                    {% block navigation %} {% endblock %}
                    {% block user %}
                    <li class="float-right"><a href="/login">Login</a></li>
                    <li class="float-right"><a href="#">Sign Up</a></li>
                    {% endblock %}
                    </ul>
            </nav>
        </header>

            <main>
                {% block content %}
                <p>Placeholder content</p>
                {% endblock %}
            </main>
        </div>

        {% block script %} {% endblock %}
    </body>
</html>
