{% extends "layout.html" %} {% block navigation %}
<li>
    <a href="/new"><strong>New</strong></a>
</li>
<li><a href="/trending">Trending</a></li>
<li><a href="/categories">Categories</a></li>
<li><a href="/search">Search</a></li>
{% endblock %} {% block user %} {% if user_logged_in %}
<li class="float-right"><a href="/dashboard">Dashboard 🤭</a></li>
{% else %}
<li class="float-right"><a href="/login">Login</a></li>
<li class="float-right"><a href="/signup">Sign Up</a></li>
{% endif %} {% endblock %} {% block content %}
<h1>New Prompts</h1>
<p>Hot from the forge <a href="/prompt/new">Add your own!</a></p>
<ul>
    {% for prompt in prompts %}
    <li>
        <p style="margin-bottom: 0">
            <strong
                ><a href="/prompt/{{ prompt.row.id }}"
                    >{{ prompt.row.title }}</a
                ></strong
            >
            {{ prompt.row.description }} {% for tag in prompt.tags %}
            <span class="float-right">{{ tag.1 }}</span>
            {% endfor %}
        </p>
        <p style="margin-top: 0">
            <time datetime="2025-05-18T20:48:31"
                >{{ prompt.row.created_at.unwrap() }}</time
            >
            | by <a href="#">{{ prompt.author_name }}</a> |
            <a href="#comments" class="text-secondary"
                >{{ prompt.comment_count }} comments</a
            >
        </p>
    </li>

    {% endfor %}
</ul>

<a href="/more" class="text-secondary">More</a>
{% endblock %}
