{% extends "layout.html" %} {% block navigation %}
<li>
    <a href="#"><strong>New</strong></a>
</li>
<li><a href="#">Trending</a></li>
<li><a href="#">Categories</a></li>
<li><a href="#">Search</a></li>
{% endblock %} {% block content %}
<button>+ Add prompt</button>
<ul>
    {% for prompt in prompts %}
    <li>
        <p style="margin-bottom: 0">
            <strong
                ><a href="/prompt/{{ prompt.row.id }}"
                    >{{ prompt.row.title }}</a
                ></strong
            >
            {{ prompt.row.description }} {% for tag in prompt.tags %}
            <span class="float-right">{{ tag.1 }}</span>
            {% endfor %}
        </p>
        <p style="margin-top: 0">
            <time datetime="2025-05-18T20:48:31"
                >{{ prompt.row.created_at.unwrap_or_default().format("%Y-%m-%d
                %H:%M:%S").to_string() }}</time
            >
            | by <a href="#">{{ prompt.author_name }}</a> |
            <a href="#comments" class="text-secondary"
                >{{ prompt.comment_count }} comments</a
            >
        </p>
    </li>
    {% endfor %}
</ul>

<a href="/more" class="text-secondary">More</a>
{% endblock %}
