{% extends "layout.html" %} {% block content %}
<div>
    <h1>Login</h1>
    <form action="/login" method="POST">
        {# Adjust action URL as needed #}
        <div>
            <label for="username">Username or Email</label>
            <input
                type="text"
                id="username"
                name="username"
                required
                autofocus
            />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
    {% for message in messages %} {% if message.level ==
    axum_messages::Level::Info %}
    <blockquote class="hint">
        <p><b>{{ message }}</b></p>
    </blockquote>
    {% else %}
    <blockquote class="warn">
        <p><b>⚠ {{ message }}</b></p>
    </blockquote>
    {% endif %} {% endfor %}
</div>
{% endblock %} {% block script %} {# Add any page-specific JavaScript here if
needed #} {% endblock %}
