{% extends "layout.html" %} {% block content %}
<h1 class="text-3xl font-extrabold text-gray-900 mb-6">Create your account</h1>
<form action="/signup" method="POST" class="space-y-6">
    <input type="hidden" id="id" name="id" value="0" />
    <input type="hidden" id="email" name="email" value="" />
    <div>
        <label for="username" class="block text-sm font-medium text-gray-700"
            >Username</label
        >
        <div class="mt-1">
            <input
                type="text"
                id="username"
                name="username"
                required
                autofocus
                class="form-input"
                placeholder="wacky-warlord"
            />
        </div>
    </div>
    <div>
        <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
        >
        <div class="mt-1">
            <input
                type="password"
                id="password"
                name="password"
                required
                class="form-input"
                placeholder="super-safe-password"
            />
        </div>
    </div>
    <button
        type="submit"
        class="cursor-pointer inline-block rounded-xl bg-emerald-600 px-4 py-2 text-sm font-semibold text-white transition-colors hover:bg-emerald-600/90"
    >
        Sign Up
    </button>
</form>
<p class="mt-2">
    Already have an account?
    <a href="/login" class="font-medium text-primary hover:underline">Login</a>
</p>

<div class="mt-8 space-y-4">
    {% for message in messages %}
    <p><b>{{ message }}</b></p>
    {% endfor %}
</div>
{% endblock %}
